<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вспышки</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<div id="wrapper">

    <header><img src="../images/phot1.png" alt = "logo"></header>

    <div id="heading">
        <h1>PHOTOGRAPH</h1>
    </div>

    <aside>
        <nav>
            <ui class = "top menu">
                <li><a href="index.tpl.php"> Главная страница</a></li>
                <li><a href="author.tpl.php">Об авторе</a></li>
                <li><a href="company.tpl.php">О фирме</a></li>
                </ul>
            </ui>
        </nav>

        <nav>
            <ul class="aside-menu">
                <li><a href="lenses.html">Объективы</a></li>
                <li><a href="goods.tpl.php">Фотоаппараты</a></li>
                <li class="active"><a href="flashes.html">Вспышки</a></li>
                <li><a href="memoryCards.html">Карты памяти</a></li>
            </ul>
        </nav>
    </aside>

    <section>
        <table>
            <tr>
                <th>Название товара</th>
                <th>Тип</th>
                <th>Крепление</th>
                <th>Ведущее число</th>
                <th>Совместимые камеры</th>
                <th>Элементы питания</th>
                <th>Цена</th>
            </tr>
            <tr>
                <td>Nikon Speedlight SB-700</td>
                <td>обычная</td>
                <td>башмак</td>
                <td>28 м (ISO 100)</td>
                <td>Nikon</td>
                <td>AA, 4 шт.</td>
                <td>500 ₽</td>
            </tr>
            <tr>
                <td>Canon Speedlite 600EX-RT</td>
                <td>обычная</td>
                <td>башмак</td>
                <td>60 м (ISO 100, 200мм)</td>
                <td>Canon</td>
                <td>AA, 4 шт.</td>
                <td>750 ₽</td>
            </tr>
            <tr>
                <td>Canon Speedlite 430EX III-RT</td>
                <td>обычная</td>
                <td>башмак</td>
                <td>43 м (ISO 100, 105мм)</td>
                <td>Canon</td>
                <td>AA, 4 шт.</td>
                <td>500 ₽</td>
            </tr>
            <tr>
                <td>Sony HVL-F60RM</td>
                <td>обычная</td>
                <td>башмак</td>
                <td>60 м (ISO 100, 200мм)</td>
                <td>Sony </td>
                <td>AA, 4 шт.</td>
                <td>950 ₽</td>
            </tr>
            <tr>
                <td>Godox Ving V1C TTL</td>
                <td>Круглая накамерная</td>
                <td>башмак</td>
                <td>60 м (ISO 100, 200мм)</td>
                <td>Canon EOS (E-TTLII)</td>
                <td>7.2В/2600мАч литий-ионная батарея</td>
                <td>750 ₽</td>
            </tr>
            <tr>
                <td>Sony HVL-F45RM</td>
                <td>Автоматическая электронная вспышка с предварительным замером и креплением пристегивающегося типа</td>
                <td>башмак</td>
                <td>45 (покрытие вспышки 105 мм / станд. распределение света от вспышки, ISO 100・м)</td>
                <td>Sony</td>
                <td>AA, 4 шт.</td>
                <td>590 ₽</td>
            </tr>
            <tr>
                <td>Godox Ving V860IIS TTL</td>
                <td>накамерная<</td>
                <td>-</td>
                <td>60 (ISO 100)</td>
                <td>Sony</td>
                <td>Литиево-ионный аккумулятор 11,1В/2000мАч</td>
                <td>750 ₽</td>
            </tr>
            <tr>
                <td>Nissin i60A for Fujifilm</td>
                <td>накамерная</td>
                <td>-</td>
                <td>(м, ISO 100): 60 (голова в положении 200 мм)</td>
                <td>Fujifilm X Mount</td>
                <td>4 батареи типа АА; разъем для внешней батареи (стандартный для соответствующей системы)</td>
                <td>550 ₽</td>
            </tr>
            <tr>
                <td>Nikon Speedlight SB-5000</td>
                <td>радиоуправляемая</td>
                <td>башмак</td>
                <td>34.5/113 (при 35 мм); 55/180 (при 200 мм) в формате FX - ISO 100 м</td>
                <td>Цифровые зеркальные фотокамеры Nikon</td>
                <td>Четыре батареи типоразмера AA: щелочно-марганцевые или никель-металлгидридные</td>
                <td>750 ₽</td>
            </tr>
            <tr>
                <td>Sony HVL-F32M</td>
                <td>обычная<</td>
                <td>башмак</td>
                <td>32 м</td>
                <td>Minolta/Sony</td>
                <td>AA</td>
                <td>390 ₽</td>
            </tr>
        </table>

    </section>

</div>

<footer>
    <div id="footer">
        <div id="twitter"></div>
        <div id="sitemap"></div>
        <div id="social">
            <a href="mailto:BethsFaith7@gmail.com">BethsFaith7@gmail.com</a>
        </div>
        <div id="footer-logo">
            <p>Copyright © 2023 Photograth. A <a href="https://github.com/BethsFaith">BethsFaith</a> creation</p>
        </div>
    </div>
</footer>
</body>
</html>