<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Объективы</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
  <div id="wrapper">

    <header><img src="../images/phot1.png" alt = "logo"></header>

    <div id="heading">
      <h1>PHOTOGRAPH</h1>
    </div>

    <aside>
      <nav>
        <ui class = "top menu">
          <li><a href="index.tpl.php"> Главная страница</a></li>
          <li><a href="author.tpl.php">Об авторе</a></li>
          <li><a href="company.tpl.php">О фирме</a></li>
          </ul>
        </ui>
      </nav>

      <nav>
        <ul class="aside-menu">
          <li class="active"><a href="lenses.html">Объективы</a></li>
          <li><a href="photo.html">Фотоаппараты</a></li>
          <li><a href="flashes.html">Вспышки</a></li>
          <li><a href="memoryCards.html">Карты памяти</a></li>
        </ul>
      </nav>
    </aside>

    <section>
      <table>
        <tr>
          <th>Название товара</th>
          <th>Код товара</th>
          <th>В наличии</th>
          <th>Гарантия</th>
          <th>Тип</th>
          <th>Фокусное расстояние</th>
          <th>Цена</th>
        </tr>
        <tr>
          <td>Canon EF 100mm f/2.8L Macro IS USM</td>
          <td>200511002</td>
          <td>5 шт.</td>
          <td>1 год гарантии Продавца</td>
          <td>макро</td>
          <td>100 мм</td>
          <td>132 280 ₽</td>
        </tr>
        <tr>
          <td>LEICA APO-VARIO-ELMARIT-SL 90-280MM F/2.8-4 LENS</td>
          <td>00511002</td>
          <td>1-2 шт.</td>
          <td>Производителя</td>
          <td>телеобъектив Zoom</td>
          <td>90-280mm</td>
          <td>1629 990 ₽</td>
        </tr>
        <tr>
          <td>Sony FE 24-70mm f/2.8 GM II Lens</td>
          <td>200722001</td>
          <td>5 шт.</td>
          <td>1 год гарантии Продавца</td>
          <td>стандартный Zoom</td>
          <td>24 - 70 мм</td>
          <td>299 990 ₽</td>
        </tr>
        <tr>
          <td>YongNuo AF 50mm f/1.8 Nikon F</td>
          <td>151216006</td>
          <td>2 шт.</td>
          <td>Производителя</td>
          <td>стандартный</td>
          <td>50 мм</td>
          <td>10 900 ₽</td>
        </tr>
        <tr>
          <td>Nikon 50mm f/1.4G AF-S Nikkor</td>
          <td>120410275</td>
          <td>5 шт.</td>
          <td>Производителя, 1 год</td>
          <td>стандартный</td>
          <td>50 мм</td>
          <td>60 990 ₽</td>
        </tr>
        <tr>
          <td>Canon EF 70-200mm f/2.8L IS III USM</td>
          <td>130618001<</td>
          <td>5 шт.</td>
          <td>Производителя, 2 года</td>
          <td>телеобъектив Zoom</td>
          <td>70-200 мм</td>
          <td>263 600 ₽</td>
        </tr>
        <tr>
          <td>Nikon 35mm f/1.8G AF-S DX Nikkor</td>
          <td>120410091</td>
          <td>5 шт.</td>
          <td>Производителя, 1 год</td>
          <td>стандартный</td>
          <td>35 мм</td>
          <td>26 700 ₽</td>
        </tr>
        <tr>
          <td>YongNuo AF 50mm f/1.8 Nikon F</td>
          <td>151216006</td>
          <td>2 шт.</td>
          <td>Производителя</td>
          <td>стандартный</td>
          <td>50 мм</td>
          <td>10 900 ₽</td>
        </tr>
        <tr>
          <td>Fujifilm XF 30mm f/2.8 R LM WR Macro Lens</td>
          <td>021122036</td>
          <td>2 шт.</td>
          <td>1 год гарантии Продавца</td>
          <td>макро</td>
          <td>30 мм (эквивалент полного кадра: 45 мм)</td>
          <td>79 990 ₽</td>
        </tr>
        <tr>
          <td>Объектив Canon EF 8-15mm f/4.0L Fisheye USM</td>
          <td>100811004</td>
          <td>4 шт.</td>
          <td>Производителя, 2 года</td>
          <td>"рыбий глаз" Zoom</td>
          <td>8 - 15 мм</td>
          <td>179 990 ₽</td>
        </tr>
        <tr>
          <td>Canon EF 100-400mm f/4.5-5.6L IS II USM</td>
          <td>120115004</td>
          <td>5 шт.</td>
          <td>1 год гарантии Продавца</td>
          <td>телеобъектив Zoom</td>
          <td>100 - 400 мм</td>
          <td>269 990 ₽</td>
        </tr>
        <tr>
          <td>Olympus ED 40-150mm f/2.8 Pro M.Zuiko Digital</td>
          <td>150914014</td>
          <td>5 шт.</td>
          <td>1 год гарантии Продавца</td>
          <td>телеобъектив Zoom</td>
          <td>40 - 150 мм</td>
          <td>172 990 ₽</td>
        </tr>
      </table>

    </section>

  </div>

  <footer>
    <div id="footer">
      <div id="twitter"></div>
      <div id="sitemap"></div>
      <div id="social">
        <a href="mainPage.html">BethsFaith7@gmail.com</a>
      </div>
      <div id="footer-logo">
        <p>Copyright © 2023 Photograth. A <a href="https://github.com/BethsFaith">BethsFaith</a> creation</p>
      </div>
    </div>
  </footer>
</body>
</html>