<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Карты памяти</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<div id="wrapper">

    <header><img src="../images/phot1.png" alt = "logo"></header>

    <div id="heading">
        <h1>PHOTOGRAPH</h1>
    </div>

    <aside>
        <nav>
            <ui class = "top menu">
                <li><a href="index.tpl.php"> Главная страница</a></li>
                <li><a href="author.tpl.php">Об авторе</a></li>
                <li><a href="company.tpl.php">О фирме</a></li>
                </ul>
            </ui>
        </nav>

        <nav>
            <ul class="aside-menu">
                <li><a href="lenses.html">Объективы</a></li>
                <li><a href="photo.html">Фотоаппараты</a></li>
                <li><a href="flashes.html">Вспышки</a></li>
                <li class="active"><a href="memoryCards.html">Карты памяти</a></li>
            </ul>
        </nav>
    </aside>

    <section>
        <table>
            <tr>
                <th>Название товара</th>
                <th>Тип</th>
                <th>Объем</th>
                <th>Макс. скорость чтения, Мб/с</th>
                <th>Макс. скорость записи, Мб/с</th>
                <th>Цена</th>
            </tr>
            <tr>
                <td>SanDisk Extreme Pro SDXC UHS-II V90 U3 300/260 MB/s 128GB SDSDXDK-128G-GN4INM</td>
                <td>SDXC</td>
                <td>128 Гб</td>
                <td>300</td>
                <td>260</td>
                <td>590 ₽</td>
            </tr>
            <tr>
                <td>SanDisk Extreme Pro SDXC UHS-I Class 3 V30 170/90 MB/s 256GB SDSDXXY-256G-GN4IN</td>
                <td>SDXC</td>
                <td>256 Гб</td>
                <td>170</td>
                <td>90</td>
                <td>490 ₽</td>
            </tr>
            <tr>
                <td>SanDisk Extreme Pro SDXC UHS-I Class 3 V30 170/90 MB/s 128GB SDSDXXY-128G-GN4IN</td>
                <td>SDXC</td>
                <td>128 Гб</td>
                <td>170</td>
                <td>90</td>
                <td>390 ₽</td>
            </tr>
            <tr>
                <td>Sony QDG128A XQD 128Gb</td>
                <td>XQD</td>
                <td>128 Гб</td>
                <td>300</td>
                <td>260</td>
                <td>590 ₽</td>
            </tr>
            <tr>
                <td>Transcend TS32GCF1000 CF 32GB 1000X</td>
                <td>SDXC</td>
                <td>32 Гб</td>
                <td>170</td>
                <td>90</td>
                <td>200 ₽</td>
            </tr>
            <tr>
                <td>Transcend TS32GCF400 CF 32GB 400x</td>
                <td>CompactFlash</td>
                <td>32 Гб</td>
                <td>90</td>
                <td>60</td>
                <td>150 ₽</td>
            </tr>
            <tr>
                <td>Transcend TS64GCF800 CF 64GB 800X</td>
                <td>CompactFlash</td>
                <td>64 Гб</td>
                <td>120</td>
                <td>60</td>
                <td>400 ₽</td>
            </tr>
            <tr>
                <td>Transcend TS128GCF800 CF 128GB 800X</td>
                <td>CompactFlash</td>
                <td>128 Гб</td>
                <td>120</td>
                <td>60</td>
                <td>500 ₽</td>
            </tr>
            <tr>
                <td>SD 16GB Transcend SDHC Card Class 10 UHS-I (TS16GSDU1)</td>
                <td>SDHC</td>
                <td>16 Гб</td>
                <td>90</td>
                <td>60</td>
                <td>90 ₽</td>
            </tr>
            <tr>
                <td>SDXC 64GB Sony SF-G TOUGH UHS-II U3 V90 299/300 MB/s (SF-G64T)</td>
                <td>SDXC</td>
                <td>64 Гб</td>
                <td>300</td>
                <td>299</td>
                <td>390 ₽</td>
            </tr>
        </table>

    </section>

</div>

<footer>
    <div id="footer">
        <div id="twitter"></div>
        <div id="sitemap"></div>
        <div id="social">
            <a href="mainPage.html">BethsFaith7@gmail.com</a>
        </div>
        <div id="footer-logo">
            <p>Copyright © 2023 Photograth. A <a href="https://github.com/BethsFaith">BethsFaith</a> creation</p>
        </div>
    </div>
</footer>
</body>
</html>