<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Фотоаппараты</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wrapper">

        <header><img src="images/phot1.png" alt = "logo"></header>

        <div id="heading">
            <h1>PHOTOGRAPH</h1>
        </div>

        <aside>
            <nav>
                <ui class = "top menu">
                    <li><a href="index.tpl.php"> Главная страница</a></li>
                    <li><a href="author.tpl.php">Об авторе</a></li>
                    <li><a href="company.tpl.php">О фирме</a></li>
                    </ul>
                </ui>
            </nav>

            <nav>
                <ul class="aside-menu">
                    <li><a href="lenses.html">Объективы</a></li>
                    <li class="active"><a href="photo.html">Фотоаппараты</a></li>
                    <li><a href="flashes.html">Вспышки</a></li>
                    <li><a href="memoryCards.html">Карты памяти</a></li>
                </ul>
            </nav>
        </aside>

        <section>
            <table>
                <tr>
                    <th>Название товара</th>
                    <th>Код товара</th>
                    <th>В наличии</th>
                    <th>Гарантия</th>
                    <th>Количество пикселей (общее)</th>
                    <th>Тип матрицы</th>
                    <th>Формат записи</th>
                    <th>Цена</th>
                </tr>
                <tr>
                    <td>Sony ZV-E10 Kit 16-50 чёрный</td>
                    <td>251121009</td>
                    <td>5 шт.</td>
                    <td>1 год гарантии Продавца</td>
                    <td>Прибл. 25,0 мегапикселя</td>
                    <td>CMOS-матрица Exmor типа APS-C (23,5 x 15,6 мм)</td>
                    <td>JPEG (DCF вер. 2.0, Exif вер. 2.32, совместимость с MPF Baseline), RAW (формат Sony ARW 2.3)</td>
                    <td>109 990 ₽</td>
                </tr>
                <tr>
                    <td>Цифровая фотокамера Nikon Coolpix P1000</td>
                    <td>100718001</td>
                    <td>3 шт.</td>
                    <td>1 год гарантии Продавца</td>
                    <td>16,0 млн (в результате обработки изображения эффективное число пикселей может уменьшиться)</td>
                    <td>КМОП-матрица 1/2,3 дюйма; общее число пикселей: прибл. 16,79 млн</td>
                    <td>JPEG, RAW (NRW) (собственный формат Nikon); видеоролики: MP4 (видео: H.264/MPEG-4 AVC, звук: стерео AAC)</td>
                    <td>114 990 ₽</td>
                </tr>
                <tr>
                    <td>Зеркальный фотоаппарат Nikon D780 Body</td>
                    <td>100321015</td>
                    <td>2 шт.</td>
                    <td>Производителя, 1 год</td>
                    <td>45,7 млн</td>
                    <td>КМОП-матрица формата FX размером 35,9 x 23,9 мм</td>
                    <td>JPEG, MOV, MP4</td>
                    <td>634 900 ₽</td>
                </tr>
                <tr>
                    <td>Цифровая фотокамера Nikon Z6 II Body</td>
                    <td>151020007</td>
                    <td>5 шт.</td>
                    <td>1 год гарантии Продавца</td>
                    <td>24.5 Мп</td>
                    <td>BSI CMOS полнокадровая матрица</td>
                    <td>JPEG (DCF вер. 2.0, Exif вер. 2.32, совместимость с MPF Baseline)</td>
                    <td>210 990 ₽</td>
                </tr>
                <tr>
                    <td>Fujifilm X-H2S Body</td>
                    <td>010622001</td>
                    <td>2 шт.</td>
                    <td>1 год гарантии Продавца</td>
                    <td>16,0 млн </td>
                    <td>26-мегапиксельная многослойная матрица</td>
                    <td>HEIF, JPEG, RAW, TIFF</td>
                    <td>309 990 ₽</td>
                </tr>
                <tr>
                    <td>Цифровая фотокамера Nikon Coolpix P1000</td>
                    <td>100718001</td>
                    <td>3 шт..</td>
                    <td>1 год гарантии Продавца</td>
                    <td>16,0 млн (в результате обработки изображения эффективное число пикселей может уменьшиться)</td>
                    <td>КМОП-матрица 1/2,3 дюйма; общее число пикселей: прибл. 16,79 млн</td>
                    <td>JPEG, RAW (NRW) (собственный формат Nikon); видеоролики: MP4 (видео: H.264/MPEG-4 AVC, звук: стерео AAC)</td>
                    <td>114 990 ₽</td>
                </tr>
                <tr>
                    <td>Цифровая фотокамера Canon EOS R7 Body</td>
                    <td>250522001</td>
                    <td>4 шт.</td>
                    <td>1 год гарантии Продавца</td>
                    <td>32,5 МП</td>
                    <td>32,5-мегапиксельная CMOS-матрица APS-C,</td>
                    <td>HEIF, JPEG, RAW, TIFF</td>
                    <td>169 990 ₽</td>
                </tr>
                <tr>
                    <td>Цифровая фотокамера Sony Alpha A6600 body</td>
                    <td>110919001</td>
                    <td>5 шт.</td>
                    <td>1 год гарантии Продавца</td>
                    <td>Прибл. 24,2 мегапикселя</td>
                    <td>CMOS-матрица Exmor типа APS-C (23,5×15,6 мм)</td>
                    <td>JPEG (DCF вер. 2.0, Exif вер. 2.32, совместимость с MPF Baseline), RAW (формат Sony ARW 2.3)</td>
                    <td>169 990 ₽</td>
                </tr>
                <tr>
                    <td>Цифровая беззеркальная камера LUMIX DC-BGH1EE</td>
                    <td>151020015</td>
                    <td>3 шт.</td>
                    <td>1 год гарантии Продавца</td>
                    <td>32,5 МП</td>
                    <td>Live MOS</td>
                    <td>JPEG, C4K 60p/50p</td>
                    <td>359 990 ₽</td>
                </tr>
                <tr>
                    <td>Фотоаппарат Leica Camera Q2</td>
                    <td>100718001</td>
                    <td>3 шт..</td>
                    <td>1 год гарантии Продавца</td>
                    <td>3,68 МП</td>
                    <td>Полнокадровая матрица, 47,3 Mпикс</td>
                    <td>JPEG, Видео 4K</td>
                    <td>669 990 ₽</td>
                </tr>
            </table>

        </section>

    </div>

    <footer>
        <div id="footer">
            <div id="twitter"></div>
            <div id="sitemap"></div>
            <div id="social">
                <a href="mainPage.html">BethsFaith7@gmail.com</a>
            </div>
            <div id="footer-logo">
                <p>Copyright © 2023 Photograth. A <a href="https://github.com/BethsFaith">BethsFaith</a> creation</p>
            </div>
        </div>
    </footer>
</body>
</html>