body {
    color: #8f8f8f;
    font: 12px Tahoma, sans-serif;
    background-color: #212020;
    border-top: 5px solid #7e7e7e;
    margin: 0;
}
input[type="text"] {
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
    color: #1e0909;
    width: 400px;
    height: 50px;
    caret-color: #1e0909;
    padding: 0 10px;
    vertical-align: top;
}
button {
    color: #fff;
    background-color: #29c5e6;
    border: none;
    height: 32px;
    font-family: 'Oswald', sans-serif;
}
p {
    margin: 20px 0;
}

header img {
    width: 100px;
    padding-left: 20px;
    margin-top: 10px;
}

#heading {
    margin: 30px 0;
    padding-left: 20px;
}

h1 {
    display: inline-block;
    color: #7e7e7e;
    font: 40px/40px 'Oswald', sans-serif;
    margin: 0;
    padding: 0 10px;
}

blockquote {
    margin: 0;
    background: #29c5e6;
    padding: 10px 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

blockquote p {
    color: #fff;
    font-style: italic;
    font-size: 33px;
    margin: 0;
}

blockquote cite {
    display: block;
    font-size: 20px;
    font-style: normal;
    color: #1d8ea6;
    margin: 0;
    text-align: right;
}

nav a {
    text-decoration: none;
    color: #e7e7e7;
    /*color: #cdffa4;*/
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style-position: inside;
    font: 14px 'Oswald', sans-serif;
    padding: 10px;
}

.top-menu li {
    display: inline-block;
    padding: 10px 30px;
    margin: 0;
}

.top-menu li.active {
    color: #29c5e6;
}

.top-menu a {
    color: #b2b2b2;
}

.top-menu li {
    display: inline-block;
    padding: 10px 30px;
    margin: 0;
}

aside {
    float: left;
    width: 250px;
}
section {
    margin-left: 280px;
    padding-bottom: 50px;
}

.aside-menu li {
    font-weight: 300;
    list-style-type: square;
    border-top: 1px solid #e7e7e7;
}

.aside-menu li:first-child {
    border: none;
}

.aside-menu li.active {
    color: #f35b78;
}

.aside-menu a {
    color: #1d8ea6;
}

figure {
    display: inline-block;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

figure img {
    display: block;
    border: 1px solid #fff;
    outline: 1px solid #c9c9c9;
    width: 320px;
    /*height: 175px;*/
}

figure figcaption {
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
}

figure figcaption span {
    display: block;
    font-size: 14px;
    color: #29c5e6;
}

img.full {
    width: 320px;
}

section > figure + figure {
    margin-left: 28px;
}

table {
}
td {
    text-align: left;
}
th {
    text-align: left;
    height: 50px;
}

footer {
    /*background: #8f8f8f;*/
    color: #8f8f8f;
    font-size: 11px;
    height: 100px;
    /*width: 200px;*/
    position:fixed;
    left:0;
    bottom: 0;
}

#footer {
    max-width: 200px;
    margin: auto;
    padding: 10px 0;
}

footer a {
    display: inline-block;
    padding: 10px 30px;
    margin: auto;
    color: #8f8f8f;
    text-align: left;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    text-decoration: none;
    text-align: center;
    font-size: large;
    color: #ffffff;
    background-color: #525151;
    width: 200px;
    height: 40px;
}
